.flex-center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.vh-100 {
  min-height: 100vh;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.text-bold {
  font-weight: bold;
}

.text-16 {
  font-size: 16px;
  margin-bottom: 5px;
}

.text-14 {
  font-size: 14px;
  margin-bottom: 5px;
}

.text-12 {
  font-size: 12px;
  margin-bottom: 2.5px;
}

.code-editor {
  height: 300px;
  width: 100%;

  padding: 10px;

  border-radius: 2.5px;
  border-color: rgb(206, 212, 218);
}